<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title><%= title %></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="../../styles.css">
   </head>
   <body>
      <!-- Jumbotron -->
      <div
      class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
      style="background-color: gray; height: 500px;"
      >
      <nav class="navbar navbar-expand-lg navbar-light">
         <div class="container-fluid">
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="#" style="color: white;">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="g" style="color: white;">G_Test</a>
                  </li>
                  <li class="breadcrumb-item">
                     <a href="g2" style="color: white;">G2_Test</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                     <a href="login" style="color: white;">Login</a>
                  </li>
               </ol>
            </nav>
         </div>
      </nav>
         <div class="banner">
            <div class="div-center">
            <h1 class="mb-3">Dashboard</h1>
            <p>DriveTest Booking Kiosk</p>
            </div>
         </div>
        </div>
         </div>
    <div>
         <h3>You can book G2/G drive test from this kiosk</h3>
         <p>You can book G2/G drive test from this kiosk</p>
         <p>posted by DriveTest Center</p>
      </div>
      <script src="script.js" async defer></script>
   </body>
</html>